/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 1;
} */
.subtotal-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-flow: row nowrap; */
  /* gap: 5px; */
  justify-content: center;
  align-items: center;
}

.bottle {
  width: 451px;
  height: 351px;
  margin-bottom: 30px;
}

.subtotal {
  margin-top: 50px;
  /* left: 689px; */
  margin-bottom: 30px;
  width: 458px;
  height: 238px;
  border: 1px solid #b3b3b3;
  border-radius: 12px;
  opacity: 1;
}

.subtotal-text {
  margin-top: 10px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 714px;
  width: 88px;
  height: 28px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.borderBottom {
  border-bottom: 2px dashed #b3b3b3;
  width: 265px;
  margin-left: 100px;
  margin-top: 0;
}

.subtotal-price {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 1055px;
  width: 65px;
  height: 28px;
  text-align: right;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 360px;
  margin-top: -30px;
}
.subtotal-text2 {
  margin-top: 15px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 714px;
  width: 88px;
  height: 28px;
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.borderBottom2 {
  border-bottom: 2px dashed #b3b3b3;
  width: 260px;
  margin-left: 105px;
  margin-top: 0;
}

.subtotal-price2 {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 1055px;
  width: 65px;
  height: 28px;
  text-align: right;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  margin-left: 360px;
  margin-top: -30px;
}

.subtotal-text3 {
  margin-top: 15px;
  margin-left: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #33b7a6;
  top: 371px;
  left: 714px;
  width: 88px;
  height: 28px;
  text-align: left;
  letter-spacing: 0px;

  opacity: 1;
}

.borderBottom3 {
  border-bottom: 2px dashed #b3b3b3;
  width: 260px;
  margin-left: 105px;
  margin-top: 0;
}

.subtotal-price3 {
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  top: 371px;
  left: 1055px;
  width: 65px;
  height: 28px;
  text-align: right;
  letter-spacing: 0px;
  color: #33b7a6;
  opacity: 1;
  margin-left: 360px;
  margin-top: -30px;
}

.grey-solid-bottom {
  border: 1px solid #b3b3b3;
  margin-top: 70px;
  margin-left: 10px;
  margin-right: 10px;
}

.bottomText {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  top: 550px;
  left: 706px;
  width: 425px;
  height: 23px;
  align-items: center;
  margin-top: 10px;
  padding-left: 20px;

  text-align: left;
  letter-spacing: 0px;

  opacity: 1;
}

@media screen and (max-width: 1190px) {
  .subtotal {
    display: none;
  }
  .bottle {
    /* margin-top: 50px; */

    margin-bottom: 30px;

    width: 260px;
    height: 200px;
  }
}
