.navBar {
  /* width: 100%; */
  height: 58px;
  /* position: fixed; */
  top: 0;
  left: 0;
  display: flex;
  justify-content: stretch;
  background: transparent
    linear-gradient(
      90deg,
      #00a99d 0%,
      #00a69a 34%,
      #019d91 58%,
      #038d83 78%,
      #06776e 97%,
      #07746b 100%
    )
    0% 0% no-repeat padding-box;
  border-bottom: 5px solid;
  border-image: linear-gradient(to right, #5f5d5d, #c2c2c2);
  border-image-slice: 1;
  opacity: 1;
}

.emblem2 {
  display: flex;

  align-items: center;

  width: 61px;
  height: 64px;
  margin-top: 20px;
}

.certified {
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: nowrap;
  margin-left: 355px;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
  width: 500px;
  height: 28px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  position: relative;
}

.certified2 {
  display: none;
}

@media  screen and (max-width: 1155px) {
  .certified {
    margin-left: 125px;
  }
}

@media screen and (max-width: 700px) {
  .navBar {
    height: 47px;
  }

  .certified {
    display: none;
  }

  .certified2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 19px;
    justify-content: left;
    margin-left: 5px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 17px;
    width: 270px;
    height: 18px;

    text-align: center;
    letter-spacing: 0px;
    color: #ffffff;
    opacity: 1;
  }
}
